html body {
  margin: 0;
  padding: 0;
}

.gary-bg {
  background: #f5f7f9;
  height: 100vh;
}

.marg-box {
  margin: 0 16px;
}

.fif-fz {
  font-size: 15px;
  font-weight: 200;
}

.thr-fz {
  font-size: 13px;
  font-weight: 200;
}

.ele-fz {
  font-size: 11px;
  font-weight: 200;
}

.rg {
  color: #fff;
}

.navbar-globle {
  background: #3296fa;
}

.navbar-globle .van-nav-bar__title, .navbar-globle .van-icon-arrow-left {
  color: #fff;
  font-size: 15px;
}
